test=1
file_1=true

# OTHER-TOOL-NEEDS-THIS=malformed_1
# =malformed_2
TEST_MAIL=TEST
MALFORMED_SUB="TEST Sub ${UNKNOWN-$TEST_MAIL}"
TEST_1="Test ${TEST_MAIL:0}"
TEST_2="Test ${TEST_MAIL:0:3}"

# this should throw an error in no lenient parsing mode
12_TEST=Test
